.header {
  &_top,
  &_bottom {
    border-bottom: 1px solid $gray-light;
  }

  &_top {
    padding-top: 20px;
    padding-bottom: 20px;

    @include mobile {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

  &_bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    min-height: 60px;

    @include big-desktop {
      padding-top: 0;
      padding-bottom: 0;
      min-height: 58px;
    }

    @include mobile {
      min-height: 45px;
    }

    .container.header_container {
      position: relative;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 0;
        width: 46px;
        height: 60px;
        background-image: url("../../img/limitation.png");
        @include bg-cover;

        @include big-desktop {
          display: none;
        }
      }
    }
  }

  &_container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 80px;
    width: 160px;
    object-fit: contain;

    @include big-desktop {
      display: none;
    }
  }

  &__menu {
    margin-right: auto;

    &__list {
      display: flex;

      @include tablet {
        display: none;
      }

      &_item {
        @include mr(58.75px);

        &:first-child {
          @include mr(58.75px);
        }

        .item-link {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    &__burger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 24px;
      height: 24px;

      @include tablet {
        display: flex;
      }

      &_hr {
        width: 100%;
        height: 3px;
        background-color: $primary;
        border-radius: 4px;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    &_search {
      margin-right: 24px;
      width: 24px;
      height: 24px;

      @include mobile {
        margin: 0;
      }

      path {
        transition: stroke 0.2s ease-in;
      }

      &:hover path {
        stroke: $primary-light;
      }

      &:focus path,
      &:focus-visible path {
        stroke: $primary-light;
      }

      &:focus,
      &:focus-visible {
        border: none;
        outline: none;
      }

      &:active path {
        stroke: $primary-dark;
      }
    }

    &_login {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 104px;
      height: 40px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: $base;
      border: 2px solid $base;
      border-radius: 77px;
      transition: color 0.2s ease-in, background-color 0.2s ease-in;

      @include mobile {
        display: none;
      }

      &:hover {
        color: $white;
        background-color: $base;
      }

      &:focus,
      &:focus-visible {
        background-color: $primary-light;
      }

      &:active {
        color: white;
        background-color: $primary-dark;
        border-color: $primary-dark;
      }
    }
  }

  &__navbar {
    padding-right: 55px;

    @include big-desktop {
      padding-right: 0;
      margin-right: auto;
    }

    @include mobile {
      margin: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__list {
      display: flex;

      @include mobile {
        display: none;
      }

      &_item {
        @include mr(52px);

        @include big-desktop {
          @include mr(27.8px);

          &:first-child {
            @include mr(30px);
          }
        }

        @include tablet {
          @include mr(28.8px);

          &:first-child {
            @include mr(31px);
          }
        }

        .item-link {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }

    &_more {
      display: none;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      color: $primary;

      @include mobile {
        display: flex;
      }

      &_icon {
        margin-right: 5px;
        width: 15px;
        height: 15px;
      }
    }
  }

  &__live {
    padding-right: 10px;
    padding-left: 12px;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 175px;
    min-height: 34px;
    box-sizing: border-box;
    cursor: pointer;

    @include big-desktop {
      margin-top: -5px;
      padding-left: 14px;
      padding-right: 7px;
      min-width: 152px;
    }

    @include tablet {
      padding-left: 0;
      padding-right: 0;
      min-width: fit-content;
      min-height: fit-content;
    }

    @include mobile {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $gray-light;

      @include big-desktop {
        top: -9px;
        height: 40px;
      }

      @include tablet {
        display: none;
      }
    }

    &:last-child {
      @include tablet {
        display: none;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: $gray-light;

        @include big-desktop {
          top: -9px;
          height: 40px;
        }
      }
    }

    &:hover path {
      fill: $primary;
    }

    &:focus,
    &:focus-visible path {
      fill: $primary-light;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:active path {
      fill: $primary-dark;
    }

    &_icon {
      margin-right: 8px;
      width: 24px;
      height: 24px;

      @include tablet {
        margin-right: 0;
      }

      path {
        transition: fill 0.1s ease-in;
      }
    }

    &__text {
      max-width: 89px;

      @include tablet {
        display: none;
      }

      &_title {
        font-size: 12px;
        line-height: 12px;
        color: $gray-dark;
      }

      &_name {
        margin-top: 5px;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
  &__bar {
    padding: 21px 0;
    display: none;
    background-color: $gray-light;

    @include big-desktop {
      display: block;
    }

    @include mobile {
      padding: 9px 0;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &_logo {
      width: 112px;
      height: 14px;
      object-fit: contain;

      @include tablet {
        width: 113px;
      }

      @include mobile {
        width: 87px;
      }
    }

    &_login {
      display: none;
      align-items: center;
      justify-content: center;
      width: 87px;
      height: 35px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: $base;
      border: 2px solid $base;
      border-radius: 77px;
      transition: color 0.2s ease-in, background-color 0.2s ease-in;

      @include mobile {
        display: flex;
      }
    }
  }
}
