<header class="header">
  <div class="header_top">
    <div class="container header_container">
      <picture>
        <source
          srcset="../img/logo/logo_tablet.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="../img/logo/logo_small-tablet.png"
          media="(min-width: 769px)"
        />
        <source
          srcset="../img/logo/logo_mobile.png"
          media="(min-width: 320px)"
        />
        <img
          class="logo"
          src="../img/logo/logo_default.png"
          alt="w-wave logo"
        />
      </picture>
      <nav class="header__menu">
        <ul class="header__menu__list">
          <li class="header__menu__list_item">
            <a href="#" class="item-link">Подкасты</a>
          </li>
          <li class="header__menu__list_item">
            <a href="#" class="item-link">Передачи</a>
          </li>
          <li class="header__menu__list_item">
            <a href="#" class="item-link">Гости</a>
          </li>
          <li class="header__menu__list_item">
            <a href="#" class="item-link">Плейлисты</a>
          </li>
          <li class="header__menu__list_item">
            <a href="#" class="item-link">О нас</a>
          </li>
        </ul>
      </nav>

      <div class="header__buttons">
        <button class="header__buttons_search">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
              stroke="#6D31EE"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M20.9999 21L16.6499 16.65"
              stroke="#6D31EE"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button class="header__buttons_login">Вход</button>
      </div>
    </div>
  </div>
  <div class="header_bottom">
    <div class="container header_container">
      <nav class="header__navbar">
        <ul class="header__navbar__list">
          <li class="header__navbar__list_item">
            <a href="#" class="item-link">Новости</a>
          </li>
          <li class="header__navbar__list_item">
            <a href="#" class="item-link">Блоги</a>
          </li>
          <li class="header__navbar__list_item">
            <a href="#" class="item-link">Топы</a>
          </li>
          <li class="header__navbar__list_item">
            <a href="#" class="item-link">Опросы</a>
          </li>
          <li class="header__navbar__list_item">
            <a href="#" class="item-link">Рейтинги</a>
          </li>
          <li class="header__navbar__list_item">
            <a href="#" class="item-link">Реклама</a>
          </li>
        </ul>
      </nav>
      <div class="header__live" tabindex="0">
        <div class="header__live_icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_24531_5430)">
              <path
                d="M12 2C6.475 2 2 6.475 2 12C2 17.525 6.475 22 12 22C17.525 22 22 17.525 22 12C22 6.475 17.525 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                fill="#A1A6B4"
              />
            </g>
            <defs>
              <clipPath id="clip0_24531_5430">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="header__live__text">
          <span class="header__live__text_title">Ранее в эфире</span>
          <span class="header__live__text_name">«Музыка»</span>
        </div>
      </div>
      <div class="header__live" tabindex="0">
        <div class="header__live_icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_24531_5430)">
              <path
                d="M12 2C6.475 2 2 6.475 2 12C2 17.525 6.475 22 12 22C17.525 22 22 17.525 22 12C22 6.475 17.525 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                fill="#A1A6B4"
              />
            </g>
            <defs>
              <clipPath id="clip0_24531_5430">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="header__live__text">
          <span class="header__live__text_title">Сейчас в эфире</span>
          <span class="header__live__text_name">«Как так?»</span>
        </div>
      </div>
    </div>
  </div>
</header>
