<section class="hero">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero_title">
        Радио <span class="hero_title_prefix">W-Wawe</span>
      </h1>
      <p class="hero_description">
        Привет, на связи W-Wawe! Раньше мы были изданием, а теперь пробуем себя
        в разоворном жанре. Говорим о музыке, политике, истории, науке
        и культуре. Здесь, помимо прямого эфира — архив передач и многое
        другое:)
      </p>
      <button class="hero_button">Слушать эфир</button>
    </div>
  </div>
</section>
