html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Muller", sans-serif;
  min-width: 320px;
  min-height: 100%;
  color: $base;
}

.container {
  margin: auto;
  max-width: 1110px;
}

.item-link {
  color: $base;
  outline-color: $primary-light;
  transition: color 0.2s ease-in, background-color 0.2s ease-in,
    outline 0.2s ease-in;

  &:hover {
    color: $primary;
  }

  &:focus,
  &:focus-visible {
    color: $white;
    background-color: $primary-light;
    outline: 2px solid $primary-light;
    outline-offset: inherit;
    border: none;
  }

  &:active {
    color: $primary-dark;
    background-color: transparent;
    outline: none;
  }
}

// .is-hidden {
//   display: none !important; /* stylelint-disable-line declaration-no-important */
// }

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
html {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}
