// Colors:
$white: #ffffff;
$light: #f5f6f7;

$black: #000000;
$base: #121723;
$dark: #292e39;

$gray: #d2d5dd;
$gray-dark: #a1a6b4;
$gray-light: #e6e8ec;

$blue: #0039a6;
$red: #d52b1e;
$orange: #bb973e;
$yellow: #f0d288;

$primary: #6d31ee;
$primary-dark: #4f28a5;
$primary-light: #aa9dfa;
